h1 {
    text-transform: uppercase;
    text-size-adjust: 3rem;
}

* {
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;
}

img {
    float: center;
    width: 300px;
    height: 400px;
    object-fit: cover;
    padding: 5px;
    border: 5px solid white;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
}

.row {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


